header{
    height: 100px;
}
.card-img-top{
    width:100%;
    height:auto;
  }

.img-carousel{
    height: 600px;
}
.img-card{
    height: 150px;
}
.carousel-item{
    width: 100%;
    height: 554px;
    object-fit: cover;
    object-position:50%;
}

.carousel-item video {
    width: 100%;
    height: 554px;
    object-fit: cover;
    object-position:50%;
}

#head .carousel-inner {
    margin-top: 20px;
    width: 100%;
}

#amani{
    text-align: center;
    
}
.footer{
    display: flex;
    background-color: #3600006d;
    padding: 15px;
    justify-content: space-around;
    align-self: center;
}
.footer p{
    margin: 0;
    color: white;
    font-size: 13px;
}
.row{
    display: flex;
    flex-direction: row;
    width: auto;
}
.form{
    display: flex;
}
.container{
    width: auto;
}